<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Receipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let recep of receipe">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{recep.name}}</h4>
               
                <p class="list-group-item-text">{{recep.desc}}</p>
            </div>
            <span class="pull-right">
                <img [src]="recep.imagepath" alt="" class="img-responsive" style="max-height: 50px;"> 
            </span>
        </a>
        <app-receipe-item></app-receipe-item></div>
</div>

